@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.navMobile {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--pageBg);
  top: 61px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}
