@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.btnBlack {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  @include transition;
  max-width: 200px;

  color: var(--colorBtn);

  border: 2px solid var(--borderBtn);

  &:hover {
    color: var(--colorBtnHover);
    background: var(--bgBtnHover);
  }

  &:active {
    transform: translateY(2px);
  }

  &.hideOnMobile {
    @media (max-width: 650px) {
      display: none;
    }
  }
}
