@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.btnTotalBlack {
  cursor: pointer;
  color: var(--totalBlackBtnColor);
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background: var(--totalBlackBtnBg);
  @include flex;

  &.hideOnMobile {
    @media (max-width: 650px) {
      display: none;
    }
  }

  &:active {
    transform: translateY(2px);
  }
}
