:root {
  /* Light mode */
  --text-color: #212529;
  --pageBg: #edf2f4;
  --text-menu: #212529;
  --menuBg: #f8f9fa91;
  --borderBottom: #343a40;
  --btnBg: #dee2e6;

  --borderBtn: #212529;
  --bgBtn: #edf2f4;
  --bgBtnHover: #212529;
  --colorBtn: #212529;
  --colorBtnHover: #edf2f4;
}

// /* Dark mode */
// [data-theme='dark'] {
//   --text-color: #fff;
//   --pageBg: #141221;
//   --text-menu: #3a5a40;
//   --menuBg: #201d31;
//   --borderBottom: #8378d5;
// }
