:root {
  /* Light mode */
  --text-color: #212529;
  --pageBg: #edf2f4;

  --text-menu: #212529;
  --menuBg: #edf2f4a2;

  --borderBottom: #343a40;

  --footerColor: #edf2f4;
  --footerBg: #212529;

  --borderBtn: #212529;
  --bgBtn: #edf2f4;
  --bgBtnHover: #212529;
  --colorBtn: #212529;
  --colorBtnHover: #edf2f4;

  --borderBtnW: #edf2f4;
  --bgBtnW: #edf2f4;
  --bgBtnHoverW: #edf2f4;
  --colorBtnW: #edf2f4;
  --colorBtnHoverW: #212529;

  --totalBlackBtnColor: #edf2f4;
  --totalBlackBtnBg: #212529;

  --hoverLink: #0e9594;
  --hoverActive: #dee6ea;
  --active: #c9d1d5;
}

// /* Dark mode */
// [data-theme='dark'] {
//   --text-color: #fff;
//   --pageBg: #141221;
//   --text-menu: #3a5a40;
//   --menuBg: #201d31;
//   --borderBottom: #8378d5;
// }
