@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.logo {
  display: flex;
  align-items: center;

  .logoImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    animation: brushStroke 3s linear infinite;
  }

  .name {
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
  }
}

@keyframes brushStroke {
  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-4px) rotate(-8deg);
  }
  50% {
    transform: translateX(4px) rotate(8deg);
  }
  75% {
    transform: translateX(-4px) rotate(-8deg);
  }
}
