@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.btnClose {
  @include flex;
  width: 30px;
  height: 30px;
  background: var(--totalBlackBtnBg);
  border-radius: 6px;
  color: var(--totalBlackBtnColor);

  @media (max-width: 650px) {
    width: 45px;
    height: 45px;
  }

  &:active {
    transform: translateY(2px);
  }
}
