@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.entry {
  cursor: pointer;
  color: var(--text-color);
  height: 40px;
  font-size: 15px;
  border-radius: 4px;
  background: var(--btnBg);
  @include flex;
  padding: 0 15px;

  &:hover {
    background: var( --btnBgHover);
  }

  &.hideOnMobile {
    @media (max-width: 650px) {
      display: none;
    }
  }

  &:active {
    transform: translateY(2px);
  }
}
