@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.entry {
  cursor: pointer;
  height: 40px;
  font-size: 15px;
  border-radius: 4px;
  @include flex;
  padding: 0 15px;

  @include transition;

  color: var(--colorBtn);
  background: var(--bgBtn);
  border: 2px solid var(--borderBtn);

  &:hover {
    color: var(--colorBtnHover);
    background: var(--bgBtnHover);
  }
  &.hideOnMobile {
    @media (max-width: 650px) {
      display: none;
    }
  }

  &:active {
    transform: translateY(2px);
  }
}
