@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.navListMob {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 0;
  background: var(--pageBg);
}

.navItemMob {
  font-weight: 500;
  font-size: 30px;
  color: var(--text-menu);
}

.link {
  padding: 25px 0 25px 15px;
  display: inline-block;
  width: 100%;

  &:hover {
    background: var(--hoverActive);
    border-right: 6px solid var(--hoverLink);
  }

  &.active {
    font-weight: 700;
    background: var(--hoverActive);
    border-right: 6px solid var(--hoverLink);
  }
}
