@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.navListMob {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 25px;
  gap: 25px;
}

.navItemMob {
  color: var(--text-color);
  font-weight: 500;
  font-size: 30px;
  color: var(--text-menu);
}
