@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.call {
  cursor: pointer;
  color: var(--pageBg);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: var(--text-menu);
  @include flex;



  &.hideOnMobile {
    @media (max-width: 650px) {
      display: none;
    }
  }

  &:active {
    transform: translateY(2px);
  }
}
